{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<html lang="en">

<head>
  <title>Soccer &mdash; Website </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="site-wrap">

    <div class="hero overlay" style="background-image: url('{% static 'images/bg_3.jpg' %}');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
            <h1 class="text-white">Blog about Players achievement</h1>
            <p>Listen the players Biggest motivation to achieve the Goals .</p>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="container site-section">
      <div class="row">
        <div class="col-6 title-section">
          <h2 class="heading">Latest Blog</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
              <a href="single.html"><img src="{% static 'images/po (1).png' %}" alt="Image" class="img-fluid"></a>
            </div>
            <div class="text">
              <span class="meta">1 10, 2024</span>
              <h3 class="mb-4"><a href="#">Game is a mind Game?</a></h3>
              <p>Every body is stupid in playing game for win not for attitude.</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
              <a href="single.html"><img src="{% static 'images/rr10.png' %}" alt="Image" class="img-fluid"></a>
            </div>
            <div class="text">
              <span class="meta">1 10, 2024</span>
              <h3 class="mb-4"><a href="#">Every one is weak in mind</a></h3>
              <p>Game is to turn the Highlights of match for players??.</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
              <a href="single.html"><img src="{% static 'images/po (3).png' %}" alt="Image" class="img-fluid"></a>
            </div>
            <div class="text">
              <span class="meta">1 10, 2024</span>
              <h3 class="mb-4"><a href="#">looser always ways reasons</a></h3>
              <p>I m best plyer better than mine in my self .</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
              <a href="single.html"><img src="{% static 'images/po (10).png' %}" alt="Image" class="img-fluid"></a>
            </div>
            <div class="text">
              <span class="meta">1 10, 2024</span>
              <h3 class="mb-4"><a href="#">Game is for win not for loose</a></h3>
              <p>Macha is winner for matchbox</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
              <a href="single.html"><img src="{% static 'images/a3.png' %}" alt="Image" class="img-fluid"></a>
            </div>
            <div class="text">
              <span class="meta">1 10, 2024</span>
              <h3 class="mb-4"><a href="#">Looser not learn something in match</a></h3>
              <p>Don't trouble the trouble if trouble troubles u ,i m not trouble i m truth </p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
              <a href="single.html"><img src="{% static 'images/a9.png' %}" alt="Image" class="img-fluid"></a>
            </div>
            <div class="text">
              <span class="meta">1 10, 2024</span>
              <h3 class="mb-4"><a href="#">Is the game is for Somebody murder place ? </a></h3>
              <p>Here no enemy or no player  .</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="custom-pagination">
            <a href="#">1</a>
            <span>2</span>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
          </div>
        </div>
      </div>
    </div>


  </div>

{% include 'footer.html' %}
</body>

</html>
{% endblock %}
